
  @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=JetBrains+Mono:wght@500&family=Noto+Sans:wght@100&display=swap');

body{
    color: hsla(0, 0%, 100%, 0.85); 
    display: block; 
     align-items: center; 
     justify-content: center; 
     background-color: #5C5470;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: mintcream;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 2px 2px grey;
    
}
.form-group {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form-control{
    margin-top: 25px;
}
input:focus{
    outline: none;
}
.java
{
margin-top: 1%;
align-items:center;
justify-content: center;
display: flex;
text-align: center;
}
.javaalign{
    color: #FAF0E6;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    line-height: .5;
    margin-left: 1.4rem;
}
.java img {
    width: 200px;
    border-radius: 100px;
}
#detail
{
    text-align: justify;
}
/* .button {
    display: flex;
    background-color: #4CAF50;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    cursor: pointer;
  } */
  
  .form-group button img{
    width: 25px;
  }
  .form-group button
  {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #58629b;
    cursor: pointer;

  }
  .button:hover{
    background-color: #4477CE;
  }
  
#search
{
    border-radius: 60px;
    width: 100%;
    max-width: 700px;
    background-color: #B9B4C7;
    display: flex;
    text-decoration: none;
    border: none;
    height: 30px;
    margin-bottom: 1.4rem;
    padding: 10px 20px;

}
::placeholder
{
    color: #38291b;
    font-family: 'Courier New', Courier, monospace;
}
#result p{
    font-family: JetBrains Mono,"Sans-serif";
    font-size: 0.8rem;

}
.topnav{
    background-color: #352F44;
    position: fixed;
    width: 100%;
    margin: 0%;
    top: 0;
    margin: 0 auto 0 auto;
    padding: 0;
    overflow: auto;
    min-width: 100%;
    left: 0;
    right: 0;
}